# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cmake
*.pdb
*.exp
*.tlog

*.app
*.sdf
*.cmake

/Bandit/cocos2d
/Bandit/proj.android
/Bandit/proj.android-studio
/Bandit/proj.ios_mac
/Bandit/proj.linux
/Bandit/proj.win8.1-universal
/Bandit/proj.win10
/Bandit/proj.win32
